@import "login.css";
@import "subscriber.css";


.footerback{
    background-color: #e9e9e9;
}

.footer-menu-title{
    font-size: 18px;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.icon-blue {
    color: blue;
  }
  
  .icon-green {
    color: green;
  }
  
  .icon-orange {
    color: orange;
  }

  .icon-yellow {
    color: rgb(228, 217, 68);
  }