/* subscribe.css */

.subscribe-container {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    background-image: url('../../asset/images/sub.jpg');

    background-size: cover;

    background-position: center;

    text-align: justify;

  }


  .subscribe-form {

    width: 650px;

    padding:60px;

    border: 1px solid #ccc;

    border-radius: 100px;

    background-color: rgba(67, 67, 68, 0.44);

    transition-duration: 0.5s;

        

  }

  

  .subscribe-label {

    font-size: 20px;

    text-align: left;

    color: #fff;

    font-weight: lighter;

  }

  

  .subscribe-heading {

    text-align: center;

    margin-bottom: 15px;

  }

  

  .subscribe-form label {

    display: block;

    width: -300px;

    margin-bottom: 0px;

    margin-left: -50px;

    text-align: center;

  }

  

  .subscribe-input {

    height: 40px;

    width: 450px;

    margin-left: 10px;

    border-radius: 7px;

    font-size: medium;

    margin-top: 1px;

  }

  

  .subscribe-button {

    width: -40%;

    padding: 10px;

    border: none;

    border-radius: 8px;

    margin-top: 50px;

    background-color: #007bff;

    color: #e5e7e8;

    font-weight: bold;

    font-size: larger;

    cursor: pointer;

    margin-left: 400px;

    display: block;

  }

  

  .subscribe-button:hover {

    background-color: #0056b3;

   

  }

  

  .subscribe-title {

    text-align: center;

    margin-bottom:10px;

    margin-top: -15px;

    color: #000000;

    font-weight: bold;

    font-size: 27px;

  }


  .top-title {

    position: absolute;

    top: 0;

    left: 50%;

    transform: translateX(-50%);

    margin-top: 30px;

    font-size: 25px;

    font-weight: bold;

    text-align: center;

    font-family: sans-serif;

  }